.weather_container {
  display: flex;
  width: "100%";
  justify-content: center;
}

.description {
  display: flex;
  width: 500px;
  padding: 10px;
  align-items: center;

  justify-content: space-evenly;
}

.cloud {
  display: flex;
  padding: 10px;
  align-items: center;
}
.container {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 34px;
  height: 34px;
}
