.searchINP {
  display: flex;
  justify-content: center;
}

.search {
  width: 50vw;
  height: 5vh;
  margin-right: 100px;
  border-radius: 7px;
  border-color: rgb(7, 6, 6);
  font-size: 25px;
  color: black;
  font-family: monospace;
}

.searchBTN {
  width: 100px;
  border-radius: 30px;
  border-color: rgb(16, 15, 15);
  font-size: large;
  background-color: rgb(8, 29, 29);
  color: rgb(171, 172, 174);
  cursor: pointer;
}
.searchBTN:hover {
  background-color: rgb(11, 68, 68);
}
